#about-page{
    background-image: url(/public/images/hero-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}