header{
    min-height: 500px;
    background-image: url(../../../public/images/hero-background.jpg);
    background-size: cover;
    border-image-source: linear-gradient(#7d6d824f, #7d6d82);
    border-image-slice: fill 1;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    border-style: solid;
    border-width: 10px;
}

#hero-text{
    width: 50%;
    text-align: center;
}

/* ABOUT SECTION */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#awards-section{
    width: 100%;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;

    img{
        height: 150px;
    }
}


#home-about-section{
    max-width: 95%;
    margin: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 2rem;
    border: 1px solid #fdfee8;
    padding: 2rem;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right;
    }

    #home-about-text{
        p{
            margin: 1rem 0rem;
        }

        button{
            color:#7d6d82;
            background-color: #fdfee8;
            border: none;
            height: 30px;
            width: 100px;
            border-radius: 5px;
            cursor: pointer;
        }
    }

}