/* UNIVERSAL STYLES */
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

html,
body,
#root {
	min-height: 100vh;
}

body {
	background-color: #7d6d82;
	color: #fdfee8;
	font-family: Monterrat, Arial, Helvetica, sans-serif;
}

#root {
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3,
h4,
.site-logo {
	font-family: "Bodoni Moda", Georgia, "Times New Roman", Times, serif;
}

h1 {
	font-size: 56px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 24px;
}

a {
	color: inherit;
	text-decoration: none;
}

.site-logo {
	width: 200px;
	font-size: 30px;
}

/* NAVIGATION BAR */
nav {
	width: 100%;
	height: 60px;
    padding: 1rem 2rem 1rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

ul {
	height: 100%;
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

li {
	margin: 0px 2rem;
	text-transform: uppercase;
	letter-spacing: 4px;
}

li:hover {
	color: #dccee1;
}

#menu-icon {
	display: none;
}

@media only screen and (max-width: 740px) {

    nav{
        padding-left: 0rem;
    }

    nav .site-logo{
        margin-left: 1rem;
    }

	ul {
		height: fit-content;
		max-height: 0px;
		overflow: hidden;
		width: 100%;
		color: #7d6d82;
		flex-direction: column;
		background-color: rgb(238, 238, 233);
		position: absolute;
		top: 60px;
		transition: 0.5s ease-in;
	}

	li {
		margin: 1rem 0rem;
	}

	.expanded {
		max-height: 100%;
	}

	#menu-icon {
		display: block;
	}
}

/* FOOTER */
footer {
	width: 100%;
	padding: 1rem 0rem;
	/* background-color: #e2dcd5;
    color:#430840; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer .site-logo {
	border-bottom: 1px solid #fdfee8;
	margin-bottom: 1rem;
}

footer p {
	font-size: 12px;
}
